{% extends 'layouts/app.jarditou.html' %}
{% block body %}
<!-- {{ url_for('register') }} -->


<form action="{{ url_for('newProduct') }}" method="post" enctype="multipart/form-data">


    <div class="container">
        <div class="row">
            <div class="col-6 form1">

                <div class="flex-form">
                    <p><label for="libelle">Libelle:
                        <input type="text" name="libelle" class="form-control" id="libelle"
                               placeholder="Nom du produit">
                    </label></p>
                </div>


                <div class="form-group">
                    <label for="categories">Catégories:</label>
                    <select class="col-4 custom-select form-control" name="categorie" id="categorie">
                        {% for categorie in categories %}
                        <option value="{{ categorie['cat_id']}}">{{ categorie['cat_nom']}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="file"><small>Format acceptés: jpg, png, jpeg</small></label>
                    <input type="file" class="form-control-file" name="file" id="file">
                </div>
            </div>

            <div class="col-4 form2">
                <div class="form-group">
                    <p><label for="price">Prix du produit:
                        <input type="number" name="price" class="form-control" id="price" placeholder="Prix unitaire">
                    </label></p>
                </div>

                <div class="form-group">
                    <p><label for="quantite">Quantité en stock:
                        <input type="number" name="quantite" class="form-control" id="quantite"
                               placeholder="Quantité en stock">
                    </label></p>
                </div>

                <div class="form-group">
                    <p><label for="couleur">Couleur disponible:
                        <input type="text" name="couleur" class="form-control" id="couleur"
                               placeholder="Couleur du produit">
                    </label></p>
                </div>

            </div>
        </div> <!-- END TAG ROW -->
        <br>
        <p class="green">En créant ce produit, vous acceptez la <a style="color: black;" href="#">Politique
            d'utilisaton</a> de Jarditou.
        <p>
        <p class="green">Veuillez consulter notre Notice Protection de vos Informations Personnelles, notre Notice
            Cookies et notre Notice Annonces publicitaires basées sur vos centres d’intérêt.</p>
        <button type="submit" class="btn btn-success">Créer le produit</button>

    </div>

</form>
{% endblock %}