
{% extends 'layouts/app.jarditou.html' %}
{% block body %}

<!-- https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png-->

<div class="container">
    <div class="row">

    <script>
            function ctrlDelete() {
                var reponse = prompt("Saisissez le mot de passe d'authenfitication:");
                var mdpnul = "motdepasse";

                if (reponse == mdpnul)
                {
                    alert("Authentication réussie");
                }

                else
                {
                    alert("Authentication incorrecte");
                }
            }

        </script>

        {% for allResults in results %}




        <div class="col-12 col-sm-8 col-md-4 col-lg-3">
            <div class="card" style="width: 15rem;">
                <a href="/{{allResults['pro_libelle']}}?ref={{allResults['pro_ref']}}&color={{allResults['pro_couleur']}}">
                    <img class="card-img-top" src="../static/img/{{ allResults['pro_photo'] }}" alt="Aucune image disponible">
                </a>
                <div class="card-body">
                    <div class="prix-titre green">
                        <h5 style="margin-left: 4%;" class="card-title mr-5">{{ allResults["pro_libelle"] }}</h5>
                        <p style="margin-left: 7%;" id="prix">{{ allResults["pro_prix"] }}</p>
                    </div>
                    <div class="bouton-card">
                        <a href="#" class="btn btn-success">Ajouter au panier</a>
                        <a href="#" style="margin-left: 7%;"><img src="static/img/delete.png" onclick="ctrlDelete()"></a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</div>


{% endblock %}