{% extends 'layouts/app.jarditou.html' %}
{% block body %}

<div class="container">
    <div class="row">

        {% for infos in details %}

        <div class="col">
            <a href="static/img/{{ infos['pro_photo'] }}" target="_blank"><img class="img-fluid image-produit" src="static/img/{{ infos['pro_photo'] }}" alt="Photo du produit {{ infos['pro_libelle'] }} " title="Voir le produit"></a>
        </div>

        <div class="col produit ">
            <div class="titre-ref">
                <h4 class="black" >{{ infos['pro_libelle'] }} (ref: {{ infos['pro_ref'] }})</h4>
                <hr>
                <h5 class="black"><strong>Payer:</strong><span class="price"> {{ infos['pro_prix'] }} $</span></h5>
            </div>

            <hr>
            <h5><strong>À propos de cet article</strong></h5>
            <h5 class="black"><span>• {{ infos['pro_description'] }}</span></h5>

            <hr>

        </div>
        {% endfor %}

    </div>

    <diV class="row justify-content-end">
          <div class="col-3 d-flex">
              <button type="submit" class="btn btn-success">Modifier ce produit</button>
              <a  href="#" style="7%;"><img class="bouton-trash ml-3" src="static/img/delete.png" title="Supprimer ce produit" id="delete_product"></a>
          </div>
    </diV>


</div>


{% endblock %}