{% extends 'layouts/app.jarditou.html' %}
{% block body %}

<div class="container">
    <div class="row">

        {% for infos in details %}

        <div class="col">
            <a href="static/img/{{ infos['pro_photo'] }}" target="_blank"><img class="img-fluid" src="static/img/{{ infos['pro_photo'] }}" alt="Photo du produit {{ infos['pro_libelle'] }} " title="Voir le produit"></a>
        </div>

        <div class="col">
            <div class="titre-ref">
                <h3 class="green">Référence : {{ infos['pro_ref'] }}</h3>
                <hr>
                <h2 class="green">{{ infos['pro_prix'] }}</h2>

            </div>
            <hr>
            <h4 class="green">{{ infos['pro_description'] }}</h4>
            <hr>
            <h4 class="green">{{ infos['pro_libelle'] }}</h4>
        </div>

        {% endfor %}
    </div>

</div>


{% endblock %}